/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
  }
  
  
/* universal style here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.primary-btn{
    background-color: #52c303;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 20px;
}
/* hero-image section start here */
.hero-image{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}
.hero-image-container{
    color: white;
    width: 70%;
    text-align: center;

}
.hero-image-container .subtitle{
    font-size: 32px;
    font-weight: 400;
    opacity: 80%;
}
.hero-image-container .hero-title{
    font-size: 50px;
    font-weight: 600;
}
.hero-image-container p{
    font-weight: 400;
    opacity: 70%;
    padding: 20px 20px;
}
/* Favorite food-card start here */
.food-card-section{
    width: 90%;
    margin: 80px auto;
}
.food-card-content{
    text-align: center;
    width: 600px;
    margin: 0 auto;
}
.food-card-content .subtitle{
    font-size: 24px;
    font-weight: 500;
    opacity: 60%;
}
.food-card-content .title{
    font-size: 44px;
    font-weight: 700;
    color: #101010;
    margin: 15px 0px 40px 0px;
}
.food-cards{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.food-card{
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.food-card .subtitle{
    font-size: 20px;
    font-weight: 500;
    padding: 15px 25px;
    background-color: rgba(82, 195, 3, 0.2);
    border-radius: 8px;
    width: 180px;
    margin: 0 auto;
}
.food-card .title{
    font-size: 34px;
    font-weight: 600;
}
.food-card p{
    font-size: 14px;
    opacity: 60%;
    font-weight: 500;
}
.food-card .card-image{
    width: 350px;
}
.card-image img{
    width: 100%;
}